html {
    scroll-behavior: smooth;
}
body {
    color: #161616;
    font-family: var(--font-family-base);
}
a {
    color: #161616;
}
.visually-hidden {
    display: none;
}
.card-category {
    color: #D73953;
}
.section-tagline {
    color: #D73953;
}
:root {
    --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family-title);
}